*{
	margin: 0;
	padding: 0;
	font-family: Arial;
}

#map{
	height: 500px;
	width: 100%;
	float: right;
}

.side{
	height: 100vh;
	width: 15%;
	float: left;
	background-color: #8e44ad;
	position: fixed;
	overflow: hidden;
	text-align: center;

}

.side img{
	height: 130px;
	width: 132px;
	border-radius: 50%;
	transform: translate(0, 50px);
}

.side .about{
	color: #ecf0f1;
	font-family: helvetica;
		transform: translate(0, 70px);
		padding: 10px;
		line-height: 20px;
}
.side h5{
	font-family: helvetica;
		transform: translate(0, 70px);
}



.find{
 height: 150px;
 width: 85%;
 float: right;
 background-color: #ecf0f1;
 color: #2c3e50;
 text-align: center;
 line-height: 50px;
 font-family: helvetica;
 color: #2c3e50;

}